.event-page{
    background-color: #fbfbfb;
    min-height: 100vh;
    .header{
        justify-content: space-between;
        padding: 1rem;
    }

    .table-col{
        padding:1rem;
        width: 100%;

        display: flex;
        justify-content: center;
    }
    .month-title{
        font-weight: bolder;
        span{
            font-weight: normal;
        }
    }
}