.event-page{
    background-color: #fbfbfb;
    min-height: 100vh;
    padding:1rem;

    .header{
        justify-content: space-between;
        padding: 1rem;
    }

    .table-col{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .month-title{
        font-weight: bolder;
        span{
            font-weight: normal;
        }
    }
    .title{
        margin-left: 10px;
    }
}