.events-page{
    background-color: #fbfbfb;
    min-height: 100vh;
    .header{
        justify-content: space-between;
        padding: 1rem;
    }

    .table-col{
        padding:1rem;
        width: 100%;
    }
}